{% extends 'posts/layout.html' %}

{% block content %}
<h3 class="center-align grey-text text-darken-2">{{posts.title}}</h3>
<div class="card">
    <div class="card-content">
        {{posts.body|linebreaks}}
    </div>
    <div class="card-action">
        {{posts.value|linebreaks}}
    </div>
    <div class="card-action row">
        <a class="btn blue-grey darken-1" href="/posts">Go Back</a>
        <a class="btn blue-grey darken-1" href="mailto:thedavid1337@gmail.com?subject=Apply to {{posts.title}}" target="_blank">Apply Job</a>
    </div>

</div>

</div>
{% endblock %}
