<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <title>friend brings friend</title>
</head>
<body>

     <nav class="teal lighten-2" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Cg Solutions</a></div>
     </nav>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center text-cyan">friend brings friend</h1>
      <div class="row center">
        <h5 class="header col s12 light">Have a friend who is looking for a new job? check out our available jobs</h5>
      </div>
    </div>
  </div>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <br><br>
<footer class="page-footer teal lighten-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We provide a full software suite and skills retention personnel needed to run a successful iGaming business.</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3">David Cohen</a>
      </div>
    </div>
  </footer>
</body>
</html>